.body-div-posts{
    border-radius: 5px;
    background-color: white;
    width: 1150px;
    /*height: 1000px;*/
    margin-left: 20px;
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
.title-div-posts{
    width: 1000px;
    height: 134px;
    /*margin-bottom: 100px;*/
}
.title-text-posts{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 60px;

    margin: 40px 0 0 25px;
}
.body-title-posts{
    width: 680px;
    margin: 20px 0 15px 220px;
    display: flex;
    justify-content: space-between;
}
.body-title-title, .body-title-body{
    font-size: 40px;
    font-weight: bold;

}

/*.chosenUserDiv{*/
/*    margin-top: 20px;*/
/*}*/